<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- 페이지 로딩 속도를 높이기 위해 js는 body 하단에 두어 호출하는 것이 좋다. -->

<!-- index.js 추가-->
<script src="/js/app/index.js"></script>

</body>
</html>